html#ng-app {
	height: 100%;
}
body.ottSaasBody {
	position: relative;
	min-height: 100%;
	padding-bottom: 121px;
}
body.ottSaasBody .rosbank-footer {
	position: absolute;
    width: 100%;
    bottom: 0;
}

#ottSaasHeader .ottwl-header__block .ottwl-header__auth-dialog-btn {
	display: none;
}

body[ng-app="ottWlProfile"] .mobile-menu .forms-tabs li:nth-child(2) a:before,
body[ng-app="ottWlProfile"] nav-bar .nav-bar-table tr td:nth-child(2) a:before {
	content: 'TRAVEL-'
}

body[ng-app="ottWlProfile"] .btn-primary {
	background-color: #7f7f7f !important;
	border-color: #7f7f7f !important;
}
