/*
  Colors
=======================================*/
/*
  Buttons
=======================================*/
[data-wl-class~="ActionButton__ActionButton"],
.rzhd-btn,
[data-wl-class~="HotelOfferRoom__button"],
[data-wl-class~="SubmitButton__SubmitButton"],
[data-wl-class~="HotelsCard__footer__button"],
[data-wl-class~="MenuItem__MenuItem--isActive"],
.btn-primary {
  color: white;
  background-color: green;
  border-color: green;
}
[data-wl-class~="ActionButton__ActionButton"]:focus,
.rzhd-btn:focus,
[data-wl-class~="HotelOfferRoom__button"]:focus,
[data-wl-class~="SubmitButton__SubmitButton"]:focus,
[data-wl-class~="HotelsCard__footer__button"]:focus,
[data-wl-class~="MenuItem__MenuItem--isActive"]:focus,
.btn-primary:focus,
[data-wl-class~="ActionButton__ActionButton"].focus,
.rzhd-btn.focus,
[data-wl-class~="HotelOfferRoom__button"].focus,
[data-wl-class~="SubmitButton__SubmitButton"].focus,
[data-wl-class~="HotelsCard__footer__button"].focus,
[data-wl-class~="MenuItem__MenuItem--isActive"].focus,
.btn-primary.focus {
  color: white;
  background-color: #004d00;
  border-color: #000000;
}
[data-wl-class~="ActionButton__ActionButton"]:hover,
.rzhd-btn:hover,
[data-wl-class~="HotelOfferRoom__button"]:hover,
[data-wl-class~="SubmitButton__SubmitButton"]:hover,
[data-wl-class~="HotelsCard__footer__button"]:hover,
[data-wl-class~="MenuItem__MenuItem--isActive"]:hover,
.btn-primary:hover {
  color: white;
  background-color: #004d00;
  border-color: #004300;
}
[data-wl-class~="ActionButton__ActionButton"]:active,
.rzhd-btn:active,
[data-wl-class~="HotelOfferRoom__button"]:active,
[data-wl-class~="SubmitButton__SubmitButton"]:active,
[data-wl-class~="HotelsCard__footer__button"]:active,
[data-wl-class~="MenuItem__MenuItem--isActive"]:active,
.btn-primary:active,
[data-wl-class~="ActionButton__ActionButton"].active,
.rzhd-btn.active,
[data-wl-class~="HotelOfferRoom__button"].active,
[data-wl-class~="SubmitButton__SubmitButton"].active,
[data-wl-class~="HotelsCard__footer__button"].active,
[data-wl-class~="MenuItem__MenuItem--isActive"].active,
.btn-primary.active,
.open > .dropdown-toggle[data-wl-class~="ActionButton__ActionButton"],
.open > .dropdown-toggle.rzhd-btn,
.open > .dropdown-toggle[data-wl-class~="HotelOfferRoom__button"],
.open > .dropdown-toggle[data-wl-class~="SubmitButton__SubmitButton"],
.open > .dropdown-toggle[data-wl-class~="HotelsCard__footer__button"],
.open > .dropdown-toggle[data-wl-class~="MenuItem__MenuItem--isActive"],
.open > .dropdown-toggle.btn-primary {
  color: white;
  background-color: #004d00;
  border-color: #004300;
}
[data-wl-class~="ActionButton__ActionButton"]:active:hover,
.rzhd-btn:active:hover,
[data-wl-class~="HotelOfferRoom__button"]:active:hover,
[data-wl-class~="SubmitButton__SubmitButton"]:active:hover,
[data-wl-class~="HotelsCard__footer__button"]:active:hover,
[data-wl-class~="MenuItem__MenuItem--isActive"]:active:hover,
.btn-primary:active:hover,
[data-wl-class~="ActionButton__ActionButton"].active:hover,
.rzhd-btn.active:hover,
[data-wl-class~="HotelOfferRoom__button"].active:hover,
[data-wl-class~="SubmitButton__SubmitButton"].active:hover,
[data-wl-class~="HotelsCard__footer__button"].active:hover,
[data-wl-class~="MenuItem__MenuItem--isActive"].active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle[data-wl-class~="ActionButton__ActionButton"]:hover,
.open > .dropdown-toggle.rzhd-btn:hover,
.open > .dropdown-toggle[data-wl-class~="HotelOfferRoom__button"]:hover,
.open > .dropdown-toggle[data-wl-class~="SubmitButton__SubmitButton"]:hover,
.open > .dropdown-toggle[data-wl-class~="HotelsCard__footer__button"]:hover,
.open > .dropdown-toggle[data-wl-class~="MenuItem__MenuItem--isActive"]:hover,
.open > .dropdown-toggle.btn-primary:hover,
[data-wl-class~="ActionButton__ActionButton"]:active:focus,
.rzhd-btn:active:focus,
[data-wl-class~="HotelOfferRoom__button"]:active:focus,
[data-wl-class~="SubmitButton__SubmitButton"]:active:focus,
[data-wl-class~="HotelsCard__footer__button"]:active:focus,
[data-wl-class~="MenuItem__MenuItem--isActive"]:active:focus,
.btn-primary:active:focus,
[data-wl-class~="ActionButton__ActionButton"].active:focus,
.rzhd-btn.active:focus,
[data-wl-class~="HotelOfferRoom__button"].active:focus,
[data-wl-class~="SubmitButton__SubmitButton"].active:focus,
[data-wl-class~="HotelsCard__footer__button"].active:focus,
[data-wl-class~="MenuItem__MenuItem--isActive"].active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle[data-wl-class~="ActionButton__ActionButton"]:focus,
.open > .dropdown-toggle.rzhd-btn:focus,
.open > .dropdown-toggle[data-wl-class~="HotelOfferRoom__button"]:focus,
.open > .dropdown-toggle[data-wl-class~="SubmitButton__SubmitButton"]:focus,
.open > .dropdown-toggle[data-wl-class~="HotelsCard__footer__button"]:focus,
.open > .dropdown-toggle[data-wl-class~="MenuItem__MenuItem--isActive"]:focus,
.open > .dropdown-toggle.btn-primary:focus,
[data-wl-class~="ActionButton__ActionButton"]:active.focus,
.rzhd-btn:active.focus,
[data-wl-class~="HotelOfferRoom__button"]:active.focus,
[data-wl-class~="SubmitButton__SubmitButton"]:active.focus,
[data-wl-class~="HotelsCard__footer__button"]:active.focus,
[data-wl-class~="MenuItem__MenuItem--isActive"]:active.focus,
.btn-primary:active.focus,
[data-wl-class~="ActionButton__ActionButton"].active.focus,
.rzhd-btn.active.focus,
[data-wl-class~="HotelOfferRoom__button"].active.focus,
[data-wl-class~="SubmitButton__SubmitButton"].active.focus,
[data-wl-class~="HotelsCard__footer__button"].active.focus,
[data-wl-class~="MenuItem__MenuItem--isActive"].active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle[data-wl-class~="ActionButton__ActionButton"].focus,
.open > .dropdown-toggle.rzhd-btn.focus,
.open > .dropdown-toggle[data-wl-class~="HotelOfferRoom__button"].focus,
.open > .dropdown-toggle[data-wl-class~="SubmitButton__SubmitButton"].focus,
.open > .dropdown-toggle[data-wl-class~="HotelsCard__footer__button"].focus,
.open > .dropdown-toggle[data-wl-class~="MenuItem__MenuItem--isActive"].focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: white;
  background-color: #002900;
  border-color: #000000;
}
[data-wl-class~="ActionButton__ActionButton"]:active,
.rzhd-btn:active,
[data-wl-class~="HotelOfferRoom__button"]:active,
[data-wl-class~="SubmitButton__SubmitButton"]:active,
[data-wl-class~="HotelsCard__footer__button"]:active,
[data-wl-class~="MenuItem__MenuItem--isActive"]:active,
.btn-primary:active,
[data-wl-class~="ActionButton__ActionButton"].active,
.rzhd-btn.active,
[data-wl-class~="HotelOfferRoom__button"].active,
[data-wl-class~="SubmitButton__SubmitButton"].active,
[data-wl-class~="HotelsCard__footer__button"].active,
[data-wl-class~="MenuItem__MenuItem--isActive"].active,
.btn-primary.active,
.open > .dropdown-toggle[data-wl-class~="ActionButton__ActionButton"],
.open > .dropdown-toggle.rzhd-btn,
.open > .dropdown-toggle[data-wl-class~="HotelOfferRoom__button"],
.open > .dropdown-toggle[data-wl-class~="SubmitButton__SubmitButton"],
.open > .dropdown-toggle[data-wl-class~="HotelsCard__footer__button"],
.open > .dropdown-toggle[data-wl-class~="MenuItem__MenuItem--isActive"],
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
[data-wl-class~="ActionButton__ActionButton"].disabled:hover,
.rzhd-btn.disabled:hover,
[data-wl-class~="HotelOfferRoom__button"].disabled:hover,
[data-wl-class~="SubmitButton__SubmitButton"].disabled:hover,
[data-wl-class~="HotelsCard__footer__button"].disabled:hover,
[data-wl-class~="MenuItem__MenuItem--isActive"].disabled:hover,
.btn-primary.disabled:hover,
[data-wl-class~="ActionButton__ActionButton"][disabled]:hover,
.rzhd-btn[disabled]:hover,
[data-wl-class~="HotelOfferRoom__button"][disabled]:hover,
[data-wl-class~="SubmitButton__SubmitButton"][disabled]:hover,
[data-wl-class~="HotelsCard__footer__button"][disabled]:hover,
[data-wl-class~="MenuItem__MenuItem--isActive"][disabled]:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] [data-wl-class~="ActionButton__ActionButton"]:hover,
fieldset[disabled] .rzhd-btn:hover,
fieldset[disabled] [data-wl-class~="HotelOfferRoom__button"]:hover,
fieldset[disabled] [data-wl-class~="SubmitButton__SubmitButton"]:hover,
fieldset[disabled] [data-wl-class~="HotelsCard__footer__button"]:hover,
fieldset[disabled] [data-wl-class~="MenuItem__MenuItem--isActive"]:hover,
fieldset[disabled] .btn-primary:hover,
[data-wl-class~="ActionButton__ActionButton"].disabled:focus,
.rzhd-btn.disabled:focus,
[data-wl-class~="HotelOfferRoom__button"].disabled:focus,
[data-wl-class~="SubmitButton__SubmitButton"].disabled:focus,
[data-wl-class~="HotelsCard__footer__button"].disabled:focus,
[data-wl-class~="MenuItem__MenuItem--isActive"].disabled:focus,
.btn-primary.disabled:focus,
[data-wl-class~="ActionButton__ActionButton"][disabled]:focus,
.rzhd-btn[disabled]:focus,
[data-wl-class~="HotelOfferRoom__button"][disabled]:focus,
[data-wl-class~="SubmitButton__SubmitButton"][disabled]:focus,
[data-wl-class~="HotelsCard__footer__button"][disabled]:focus,
[data-wl-class~="MenuItem__MenuItem--isActive"][disabled]:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] [data-wl-class~="ActionButton__ActionButton"]:focus,
fieldset[disabled] .rzhd-btn:focus,
fieldset[disabled] [data-wl-class~="HotelOfferRoom__button"]:focus,
fieldset[disabled] [data-wl-class~="SubmitButton__SubmitButton"]:focus,
fieldset[disabled] [data-wl-class~="HotelsCard__footer__button"]:focus,
fieldset[disabled] [data-wl-class~="MenuItem__MenuItem--isActive"]:focus,
fieldset[disabled] .btn-primary:focus,
[data-wl-class~="ActionButton__ActionButton"].disabled.focus,
.rzhd-btn.disabled.focus,
[data-wl-class~="HotelOfferRoom__button"].disabled.focus,
[data-wl-class~="SubmitButton__SubmitButton"].disabled.focus,
[data-wl-class~="HotelsCard__footer__button"].disabled.focus,
[data-wl-class~="MenuItem__MenuItem--isActive"].disabled.focus,
.btn-primary.disabled.focus,
[data-wl-class~="ActionButton__ActionButton"][disabled].focus,
.rzhd-btn[disabled].focus,
[data-wl-class~="HotelOfferRoom__button"][disabled].focus,
[data-wl-class~="SubmitButton__SubmitButton"][disabled].focus,
[data-wl-class~="HotelsCard__footer__button"][disabled].focus,
[data-wl-class~="MenuItem__MenuItem--isActive"][disabled].focus,
.btn-primary[disabled].focus,
fieldset[disabled] [data-wl-class~="ActionButton__ActionButton"].focus,
fieldset[disabled] .rzhd-btn.focus,
fieldset[disabled] [data-wl-class~="HotelOfferRoom__button"].focus,
fieldset[disabled] [data-wl-class~="SubmitButton__SubmitButton"].focus,
fieldset[disabled] [data-wl-class~="HotelsCard__footer__button"].focus,
fieldset[disabled] [data-wl-class~="MenuItem__MenuItem--isActive"].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: green;
  border-color: green;
}
[data-wl-class~="ActionButton__ActionButton"] .badge,
.rzhd-btn .badge,
[data-wl-class~="HotelOfferRoom__button"] .badge,
[data-wl-class~="SubmitButton__SubmitButton"] .badge,
[data-wl-class~="HotelsCard__footer__button"] .badge,
[data-wl-class~="MenuItem__MenuItem--isActive"] .badge,
.btn-primary .badge {
  color: green;
  background-color: white;
}
/*
  Hotels
=======================================*/
.active-head-tab svg g {
  fill: green;
}
.HotelsSerp__content {
  border-top-color: green;
}
.active-head-tab {
  border-bottom-color: green;
}
.DropdownTrigger__button {
  border-color: green;
}
.StarRating__StarRating,
.HotelPageHeader__city,
.DropdownTrigger__value {
  color: green;
}
/*
  Forms
=======================================*/
.form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
