/*
  Colors
=======================================*/
//@brandColor: red;
//@brandColorContrast: white;
@bodyBackground: #fafafa;
@brandColor: red;
@brandColorContrast: white;

/*
  Base
=======================================*/
body{
  background-color: @bodyBackground !important;
}
/*
  Buttons
=======================================*/
.button-variant(@color; @background; @border) {
  color: @color !important;
  background-color: @background !important;
  border-color: @border !important;

  &:focus,
  &.focus {
    color: @color !important;
    background-color: darken(@background, 10%) !important;
    border-color: darken(@border, 25%) !important;
  }
  &:hover {
    color: @color !important;
    background-color: darken(@background, 10%) !important;
    border-color: darken(@border, 12%) !important;
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @color !important;
    background-color: darken(@background, 10%) !important;
    border-color: darken(@border, 12%) !important;

    &:hover,
    &:focus,
    &.focus {
      color: @color !important;
      background-color: darken(@background, 17%) !important;
      border-color: darken(@border, 25%) !important;
    }
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none !important;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: @background !important;
      border-color: @border !important;
    }
  }

  .badge {
    color: @background !important;
    background-color: @color !important;
  }
}

.rzhd-btn,
[data-wl-class='ActionButton__inner'],
[data-wl-class~="ActionButton__ActionButton"],

[data-wl-class~="HotelOfferRoom__button"],
[data-wl-class~="SubmitButton__SubmitButton"],
[data-wl-class~="HotelsCard__footer__button"],
[data-wl-class~="MenuItem__MenuItem--isActive"],
.btn-primary {
  //padding: 10px 16px;
  //font-size: 18px;
  //line-height: 1.3333333;
  //border-radius: 6px;
  .button-variant(@brandColorContrast, @brandColor,@brandColor) !important;
}

/*
  Hotels
=======================================*/
.app-container .search-forms .forms-tabs li.active .tab-icon > svg path,
.active-head-tab svg g{
  fill: @brandColor !important;
}
[data-wl-class~='HotelPage__HotelPage'],
[data-wl-class~='HotelsBookPay__header'],
[data-wl-class~="HotelsSerp__content"] {
  border-top-color: @brandColor !important;
}
.nav-bar .nav-bar-table tr td a.active,
.app-container .search-forms .avia-search-form .search-type-filter > .btn.active,
.app-container .search-forms .forms-tabs li.active,
[data-wl-class~='TrainNav__type--isSelected'] [data-wl-class='TrainNav__content'],
.active-head-tab {
  border-bottom-color: @brandColor !important;
}

.horizontal-filtr a.active,
[data-wl-class~='HotelsSerp__hotels'] [data-wl-class~='DropdownTrigger__button'],
[data-wl-class~="DropdownTrigger__button"]{
  border-color: @brandColor !important;
}
[data-wl-class~='TabsList__TabsList--theme-hotel-page'] [data-wl-class~='MenuItem__MenuItem--isActive']  [data-wl-class~='MenuItem__inner'],
[data-wl-class="DropdownTrigger__value DropdownTrigger__value--product-railways"],
[data-wl-class~='HotelsSerp__hotels'] [data-wl-class~='DropdownTrigger__value'],
[data-wl-class~="StarRating__StarRating"],
[data-wl-class~="HotelPageHeader__city"],
[data-wl-class~="DropdownTrigger__value"]{
  color: @brandColor !important;
}
[data-wl-class="HotelsSerpList__hotel-card"]:after {
  background-color: @brandColor !important;
}

[data-wl-class~="Dropdown__Dropdown "] [data-wl-class~="Dropdown__overlay "] a {
  .button-variant(@brandColorContrast, @brandColor,@brandColor) !important;
}


[data-wl-class~='TabsList__TabsList--theme-hotel-page'] [data-wl-class~='MenuItem__MenuItem--isActive'] {
  background-color: transparent !important;
  box-shadow: inset 0 -4px @brandColor !important;
}
.avia-search-block .search-form .btn-group > a.active {
  color: @brandColorContrast !important;
  background-color: @brandColor !important;
}
/*
  Forms
=======================================*/
.form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.well {
  background-color: #fff !important;
}

.hotel-place-active-item() {
  background: #eee !important;
  color: #424242 !important;
}


[uib-typeahead-popup].dropdown-menu{
  right: 0;
  overflow: hidden;
  padding: 0;

  >li {
    .hotel-place-row {
      color: #424242;
      padding: 10px;

      &:focus,
      &:hover {
        .hotel-place-active-item;
      }
    }
    >.active >a,
    >.active >a:focus,
    >.active >a:hover {
      .hotel-place-active-item;
    }
  }

  .hotel-place-item {
    >.place-icon,
    >.place-name,
    >.place-help,
    >.place-iata {
      display: inline-block;
      vertical-align: middle;
    }

    >.place-icon {
      margin-right: 5px;
    }

    >.place-help,
    >.place-iata{
      color: #9e9e9e;
    }

    >.place-iata {
      float: right;
    }
  }

  .hotel-place-divider {
    background: #f5f5f5;
    color: #9e9e9e;
    padding: 10px;
    text-transform: uppercase;
  }
}

//
// Dropdown menus
// --------------------------------------------------


// Dropdown arrow/caret
//.caret(@caret-width-base:5px) {
//  display: inline-block;
//  width: 0;
//  height: 0;
//  margin-left: 2px;
//  vertical-align: middle;
//  border-top:   @caret-width-base dashed;
//  border-top:   @caret-width-base solid ~"\9"; // IE8
//  border-right: @caret-width-base solid transparent;
//  border-left:  @caret-width-base solid transparent;
//}

// The dropdown wrapper (div)

.search-forms {
  .dropup,
  .dropdown {
    position: relative;
  }

  // Prevent the focus on the dropdown toggle when closing dropdowns
  .dropdown-toggle:focus {
    outline: 0;
  }

  // The dropdown menu (ul)
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 999;
    display: none; // none by default, but block on "open" of the menu
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0; // override default ul
    list-style: none;
    font-size: 16px;
    text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    background-color: #fff;
    border: 1px solid #ccc; // IE8 fallback
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;

    // Aligns the dropdown menu to right
    //
    // Deprecated as of 3.1.0 in favor of `.dropdown-menu-[dir]`
    &.pull-right {
      right: 0;
      left: auto;
    }

    // Dividers (basically an hr) within the dropdown
    //.divider {
    //  .nav-divider(@dropdown-divider-bg);
    //}

    // Links within the dropdown menu
    > li > a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 1;
      color: #333;
      white-space: nowrap; // prevent links from randomly breaking onto new lines
    }
  }

  // Hover/Focus state
  .dropdown-menu > li > a {
    &:hover,
    &:focus {
      text-decoration: none;
      color: #333;
      background-color: #eee;
    }
  }

  // Active state
  .dropdown-menu > .active > a {
    &,
    &:hover,
    &:focus {
      color: @brandColor;
      background-color: @brandColorContrast;
      text-decoration: none;
      outline: 0;
    }
  }

  // Disabled state
  //
  // Gray out text and ensure the hover/focus state remains gray

  .dropdown-menu > .disabled > a {
    &,
    &:hover,
    &:focus {
      color: #ccc;
    }

    // Nuke hover/focus effects
    &:hover,
    &:focus {
      text-decoration: none;
      background-color: transparent;
      background-image: none; // Remove CSS gradient
      cursor: not-allowed;
    }
  }

  // Open state for the dropdown
  .open {
    // Show the menu
    > .dropdown-menu {
      display: block;
    }

    // Remove the outline when :focus is triggered
    > a {
      outline: 0;
    }
  }

  // Menu positioning
  //
  // Add extra class to `.dropdown-menu` to flip the alignment of the dropdown
  // menu with the parent.
  .dropdown-menu-right {
    left: auto; // Reset the default from `.dropdown-menu`
    right: 0;
  }
  // With v3, we enabled auto-flipping if you have a dropdown within a right
  // aligned nav component. To enable the undoing of that, we provide an override
  // to restore the default dropdown menu alignment.
  //
  // This is only for left-aligning a dropdown menu within a `.navbar-right` or
  // `.pull-right` nav component.
  .dropdown-menu-left {
    left: 0;
    right: auto;
  }

  // Dropdown section headers
  .dropdown-header {
    display: block;
    padding: 3px 20px;
    font-size: 13px;
    line-height: 1;
    color: #ccc;
    white-space: nowrap; // as with > li > a
  }

  // Backdrop to catch body clicks on mobile, etc.
  .dropdown-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 990;
  }

  // Right aligned dropdowns
  .pull-right > .dropdown-menu {
    right: 0;
    left: auto;
  }
}


// Allow for dropdowns to go bottom up (aka, dropup-menu)
//
// Just add .dropup after the standard .dropdown class and you're set, bro.
// TODO: abstract this so that the navbar fixed styles are not placed here?




// Component alignment
//
// Reiterate per navbar.less and the modified component alignment there.

//@media (min-width: @grid-float-breakpoint) {
//  .navbar-right {
//    .dropdown-menu {
//      .dropdown-menu-right();
//    }
//    // Necessary for overrides of the default right aligned menu.
//    // Will remove come v4 in all likelihood.
//    .dropdown-menu-left {
//      .dropdown-menu-left();
//    }
//  }
//}
