/*
  Colors
=======================================*/
//@brandColor: red;
//@brandColorContrast: white;
@bodyBackground: #fafafa;
@brandColor: green;
@brandColorContrast: white;

/*
  Base
=======================================*/
[data-wl-class~="HotelsIndex__HotelsIndex"],
body{
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif !important;
  min-height: 300px !important;
  background-color: @bodyBackground !important;
}
/*
  Buttons
=======================================*/
.button-variant(@color; @background; @border) {
  color: @color !important;
  background-color: @background !important;
  background-image: none !important;
  border-color: @border !important;

  &:focus,
  &.focus {
    color: @color !important;
    background-color: darken(@background, 10%) !important;
    border-color: darken(@border, 25%) !important;
  }
  &:hover {
    color: @color !important;
    background-color: darken(@background, 10%) !important;
    border-color: darken(@border, 12%) !important;
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    color: @color !important;
    background-color: darken(@background, 10%) !important;
    border-color: darken(@border, 12%) !important;

    &:hover,
    &:focus,
    &.focus {
      color: @color !important;
      background-color: darken(@background, 17%) !important;
      border-color: darken(@border, 25%) !important;
    }
  }
  &:active,
  &.active,
  .open > .dropdown-toggle& {
    background-image: none !important;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus,
    &.focus {
      background-color: @background !important;
      border-color: @border !important;
    }
  }

  .badge {
    color: @background !important;
    background-color: @color !important;
  }
}

.rzhd-btn,
[data-wl-class='ActionButton__inner'],
[data-wl-class~="ActionButton__ActionButton"],
[data-wl-class~="NewTrainCard__button"],
[data-wl-class~="HotelOfferRoom__button"],
[data-wl-class~="SubmitButton__SubmitButton"],
[data-wl-class~="HotelsCard__footer__button"],
[data-wl-class~="MenuItem__MenuItem--isActive"],
.btn-primary {
  //padding: 10px 16px;
  //font-size: 18px;
  //line-height: 1.3333333;
  //border-radius: 6px;
  .button-variant(@brandColorContrast, @brandColor,@brandColor) !important;
}

/*
  Hotels
=======================================*/

/* fill: */
.baggageTariff .service-box .colored-svg,
.lk-icon,
.lk-icon path,
.forms-tabs li.active .tab-icon > svg path,
.active-head-tab svg g{
  fill: @brandColor !important;
}
  /* Border top color */
[data-wl-class~='HotelPage__HotelPage'],
[data-wl-class~='HotelsBookPay__header'],
[data-wl-class~="HotelsSerp__content"] {
  border-top-color: @brandColor !important;
}
  /* Border bottom color */
.filtr-block .tabs > li.active > a,
.nav-bar .nav-bar-table tr td a.active,
.search-forms .avia-search-form .search-type-filter > .btn.active,
[data-wl-class~='TrainNav__type--isSelected'] [data-wl-class='TrainNav__content'],
.active-head-tab {
  border-bottom-color: @brandColor !important;
}
  /* Border color */
.lk-head-btn:hover, .lk-head-btn:focus,
[data-wl-class~="CheckButton__CheckButton"],
.horizontal-filtr a.active,
[data-wl-class~='HotelsSerp__hotels'] [data-wl-class~='DropdownTrigger__button'],
[data-wl-class~="DropdownTrigger__button"]{
  border-color: @brandColor !important;
}
  /* Color */


.forms-tabs li:hover a,
.forms-tabs li:hover a:hover,
.forms-tabs li:focus a,
.forms-tabs li a:focus,
.nav-bar .mobile-menu .navbar-collapse ul li a:hover,
.nav-bar .mobile-menu .navbar-collapse ul li a:focus,
[data-wl-class~='HotelsIndex__deals'] .deals-description,
[data-wl-class~='TabsList__TabsList--theme-hotel-page'] [data-wl-class~='MenuItem__MenuItem--isActive']  [data-wl-class~='MenuItem__inner'],
[data-wl-class="DropdownTrigger__value DropdownTrigger__value--product-railways"],
[data-wl-class~='HotelsSerp__hotels'] [data-wl-class~='DropdownTrigger__value'],
[data-wl-class~="StarRating__StarRating"],
[data-wl-class~="HotelPageHeader__city"],
[data-wl-class~="DropdownTrigger__value"]{
  color: @brandColor !important;
}
  /* Background color */
[data-wl-class~='HotelsSerp__header'],
.mobile-menu .dropdown-menu li.main-menu-item.active a,
.baggageTariff .service-box .mb-service-value,
[data-wl-class~="CheckButton__CheckButton CheckButton__CheckButton--isActive"],
.nav-bar .mobile-menu .navbar-collapse ul li.active a,
[data-wl-class="HotelsSerpList__hotel-card"]:after {
  background-color: @brandColor !important;
  background-image: none !important;
}

[data-wl-class~="Dropdown__Dropdown "] [data-wl-class~="Dropdown__overlay "] a {
  .button-variant(@brandColorContrast, @brandColor,@brandColor) !important;
}


[data-wl-class~='TabsList__TabsList--theme-hotel-page'] [data-wl-class~='MenuItem__MenuItem--isActive'] {
  background-color: transparent !important;
  box-shadow: inset 0 -4px @brandColor !important;
}

[data-wl-class~="CheckButton__CheckButton--isActive"],
.avia-search-block .search-form .btn-group > a.active {
  color: @brandColorContrast !important;
  background-color: @brandColor !important;
  background-image: none !important;
}

/* Color contrast*/
.rzhd-btn__inner,
.mobile-menu .dropdown-menu li.main-menu-item.active a,
.baggageTariff .service-box .mb-service-value,
[data-wl-class~="CheckButton__CheckButton CheckButton__CheckButton--isActive"],
.nav-bar .mobile-menu .navbar-collapse ul li.active a:hover,
.nav-bar .mobile-menu .navbar-collapse ul li.active a:focus,
.nav-bar .mobile-menu .navbar-collapse ul li.active a{
  color: @brandColorContrast !important;
}

/* Fill contrast*/
.mobile-menu .dropdown-menu li.main-menu-item.active a .tab-icon svg path{
  fill: @brandColorContrast !important;
}
/* Background contrast*/
.mobile-menu .icon-bar {
  background-color: @brandColorContrast !important;
  background-image: none !important;
}
.appContainer [data-wl-class~="HotelsSearchForm__guests"] input:focus,
.appContainer [data-wl-class~="HotelsSearchForm__date-fields"] input:focus,
.appContainer [data-wl-class~="HotelsSearchForm__to-field"] input:focus,
.appContainer .rzhd-input:focus,
.form-control:focus {
  border-color: @brandColor !important;
  outline: 0 !important;
  -webkit-box-shadow: inset 0 1px 1px fade(@brandColor,7.5%), 0 0 8px fade(@brandColor,60%) !important;
  box-shadow: inset 0 1px 1px fade(@brandColor,7.5%), 0 0 8px fade(@brandColor,60%) !important;
}
/*
  Forms
=======================================*/
.form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}

.well {
  background-color: #fff !important;
}


.ngdialog.auth-popup .nav-tabs.nav-justified > li > a {
  color: @brandColor;
  &:hover,
  &:focus {
    color: @brandColorContrast;
  }
}
.ngdialog.auth-popup .nav-tabs.nav-justified > li.active > a {
  color: #333;
  &:hover,
  &:focus {
    color: #333;
  }
}

h1.page-header {
  color: @brandColor;
  font-size: 24px;
  font-weight: 700;
  padding: 20px 0;
  margin: 0;
  border: none;
  text-align: center;
}
.ngdialog {
  z-index: 9999999 !important;
}
.ngdialog.ngdialog-theme-default .ngdialog-close {
  outline: none !important;
}