

/* Start:/bitrix/templates/aspro-scorp/components/bitrix/news.detail/services/style.css?1493116235206*/
.tlktbl td
{
border: 1px solid !important;
text-align: center;
vertical-align: middle;
padding: 5px;
}
.tlktbl th
{
border: 1px solid !important;
text-align: center;
vertical-align: middle;
padding: 5px;
}

/* End */
/* /bitrix/templates/aspro-scorp/components/bitrix/news.detail/services/style.css?1493116235206 */
